.info__link {
    border: none;
    font-family: inherit;
    font-weight: inherit;
    background: transparent;
    width: 100%;
    padding: 0;
}

.job__company-logo {
    object-fit: contain;
}

.job__text {
    padding-left: 15px;
}

.job__text strong {
    font-weight: bold;
}

.job__text ul {
    list-style:circle;
    margin-bottom: 10px;
}