@import "../../scss/includes.scss";

.search {
    background-image: url(../../img/search-bg.webp);
    background-position: center;
    background-size: cover;
    width: 100%;
    box-sizing: border-box;

    margin-bottom: vh(85);
    padding: vh(42) vw(205, 1920);
    border-radius: 8px;

    font-family: "Roboto", sans-serif;
    

    &__form {
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;

        box-sizing: border-box;
        height: 55px;
        border-radius: 4px;

        padding: 4px;
        padding-left: 17px;
    }

    &__icon {
        fill: var(--gray);
        height: 15px;
        width: 15px;
        margin-right: 10px;
    }

    &__field {
        border: none;
        font-weight: 400;
        font-size: 12px;
        padding-right: 5px;

        width: 100%;
    }

    &__submit {
        background: var(--accent);
        width: 146px;
        height: 100%;

        border:none;
        border-radius: 4px;

        color: #fff;
        
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
    }
}

@media (min-width: 1920px) {
    .search {
        border-radius: vw(8);
        
        &__form {
            height: vh(55);
            border-radius: vw(4);
    
            padding: vw(4);
            padding-left: vw(17);
        }
    
        &__icon {
            height: vw(15);
            width: vw(15);
            margin-right: vw(10);
        }
    
        &__field {
            font-size: vw(12);
            padding-right: vw(5);
        }
    
        &__submit {
            background: var(--accent);
            width: vw(146);
            border-radius: vw(4);
            font-size: vw(16);
        }
    }
}